
<section id='body_content'>
<%=render partial: "/flex-slider/home"%>
<div id="body_content_text">
  <%=raw @page.content_for(:body) %>
</div>
</section>

<section id='side_body_content'>
<%=raw @page.content_for(:side_body) %>
</section>
<section id='news_body_content'>
<%=raw @page.content_for(:news_body) %>
</section>
<section id='lower_body_content'>
<%=raw @page.content_for(:lower_body) %>
</section>

